<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" ></script>
    <script defer src="{{ url_for('static', filename='js/app.js') }}"></script>
    <title>MyCoin</title>
</head>

<body>
    <header>
        <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1" style="font-size: xx-large;">MyCoin</span>
            </div>
        </nav>
    </header>
    
    <section class="container">
        

        <table class="table table-striped-columns" id="movements_table">
            <thead>
                <tr>
                <th scope="col">Date/Time</th>
                <th scope="col">From</th>
                <th scope="col">Amount:</th>
                <th scope="col">To</th>
                <th scope="col">Amount</th>
                <th scope="col">Price per Unit</th>
                </tr>
            </thead>
            <tbody>
                {% for i in datos %}
                    <tr>
                        
                        <td>{{ i[0] }}</td>
                        <td>{{ i[1] }}</td>
                        <td>{{ i[2] }}</td>
                        <td>{{ i[3] }}</td>
                        <td>{{ i[4] }}</td>
                        <td>{{ i[5] }}</td>
                    </tr>
                    
                {% endfor %}
            </tbody>
        </table>

        <article id="trading_form" >
            <form id="movements_form" method="post" class="inactive">
                <input type="text" name="moneda_from" id="moneda_from_form" placeholder="Introduzca la moneda que desea vender">
                <input type="text" name="amount_from" id="amount_from_form" placeholder="Introduzca la cantidad a vender"> 
                <input type="text" name="moneda_to" id="moneda_to_form"  placeholder="Introduzca la moneda que desea comprar">
                <input type="text" name="amount_to" id="amount_to_form"  placeholder="Introduzca la cantidad que desea comprar">
            </form>
                
        </article>        
            
        <article>
            <div>
                <select id="moneda_from_form" class="form-select" style="width: 30%;" aria-placeholder="Your Coins:">
                    <option selected>Your Coins:</option>
                    {% for row in amount %}
                    <option role="button" data-bs-toggle="collapse" data-bs-target="#amount_from_form" aria-expanded="false" aria-controls="amount_from_form" value="{{ row[0] }}">{{ row[0] }}. Wallet: {{ row[1] }}</option>
                    {% endfor %}
                </select>
                
                <select id="moneda_to_form" class="form-select collapse" style="width: 30%;">
                    <option selected>Avaiable Coins:</option>
                    
                    <option role="button" data-bs-toggle="collapse" data-bs-target="#amount_to_form" aria-expanded="false" aria-controls="amount_to_form" value="bitcoin">bitcoin</option>
                    
                </select>
            </div>
            <p>
                <form>    
                    <div class="collapse" id="amount_from_form">
                        
                        <input type="text" placeholder="amount">
                        
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#moneda_to_form" aria-expanded="false" aria-controls="moneda_to_form">
                            Seguir
                        </button>
                    </div>
                    <div class="collapse" id="amount_to_form">
                        <input type="text" placeholder="amount">
                        <button class="btn btn-primary" type="submit" data-bs-toggle="collapse" data-bs-target="#amount_from_form" aria-expanded="false" aria-controls="amount_from_form">
                            Submit
                        </button>

                    </div>
                </form>
            </p>
                    


            


            
            <div>
                <button id="btn-alta">
                    realizar compra
                </button>
            </div>    
            
        </article>
                    
           
             








    </section>




</body> 
</html>