<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
   
    <title>MyCoin</title>
</head>

<body>
    <header>
        <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1" style="font-size: xx-large;">MyCoin</span>
            </div>
        </nav>
    </header>
    
    <section class="container">
        

        <table class="table table-striped-columns" id="movements_table">
            <thead>
                <tr>
                <th scope="col">Date/Time</th>
                <th scope="col">Coin From:</th>
                <th scope="col">Amount From:</th>
                <th scope="col">Coin To:</th>
                <th scope="col">Amount To:</th>
                <th scope="col">Price per Unit/EUR:</th>
                </tr>
            </thead>
            <tbody>
                {% for i in datos %}
                    <tr>
                        
                        <td>{{ i[0] }}</td>
                        <td>{{ i[1] }}</td>
                        <td>{{ i[2] }}</td>
                        <td>{{ i[3] }}</td>
                        <td>{{ i[4] }}</td>
                        <td>{{ i[5] }}</td>
                    </tr>
                    
                {% endfor %}
            </tbody>
        </table>

       <button class="btn-primary" id="formBtn">+</button>
        <form id="conversion_form" onsubmit="event.preventDefault(); calcularConversion();" style="max-width:600px; margin:auto; display:none;">
    
            <div style="display: flex; justify-content: space-between; gap: 20px; margin-bottom: 10px;">
                
                <div style="flex: 1; display: flex; flex-direction: column;">
                    <select id="moneda_from_form" class="form-select" style="width:100%;">
                        <option value="" selected disabled>Tu moneda (selecciona)</option>
                        <option value="EUR">EUR</option>
                        {% for row in myCoins %}
                            <option value="{{ row[0] }}">{{ row[0] }} - Wallet: {{ row[1] }}</option>
                        {% endfor %}
                    </select>
                    <input id="amount_from_form" type="text" placeholder="Cantidad" inputmode="decimal" style="margin-top:8px; width:100%;" />
                </div>

                <div style="flex: 1; display: flex; flex-direction: column;">
                    <select id="moneda_to_form" class="form-select" style="width:100%;">
                        <option value="" selected disabled>Moneda destino (selecciona)</option>
                        <option value="EUR">EUR</option>
                        {% for row in coins %}
                        <option value="{{ row }}">{{ row }}</option>
                        {% endfor %}
                    </select>
                    <input id="amount_to" type="text" readonly style="margin-top:8px; width:100%;" placeholder="Resultado" />
                </div>
            </div>

            <div style="text-align:center; margin-top:10px;">
                <button type="submit" class="btn btn-primary">Calcular</button>
            </div>


        </form>

        <div class="modal fade" id="purchaseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Purchase Ticket</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="cleanModal()"></button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <div>
                                <h4 style="font-weight: bolder;">From:</h4>
                                <h6 style="display: inline; font-weight: bold;">Coin From:</h6><p id="coin_from_modal" style="display: inline; margin-left:10px;"></p>
                            </div>
                            <div>
                                <h6 style="display: inline; font-weight: bold;">Amount from:</h6><p id="amount_from_modal" style="display: inline; margin-left:10px;"></p>
                            </div>    
                        </div>
                        <div>
                            <div>
                                <h4 style="font-weight: bolder;">To:</h4>
                                <h6 style="display: inline; font-weight: bold;">Coin to:</h6><p id="coin_to_modal" style="display: inline; margin-left:10px;"></p>
                            </div>
                            <div>
                                <h6 style="display: inline; font-weight: bold;">Amount to:</h6><p id="amount_to_modal" style="display: inline; margin-left:10px;"></p>
                            </div>    
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="cleanModal()">Close</button>
                        <button type="button" class="btn btn-primary" onclick="buyMovement()">Purchase!</button>
                    </div>
                </div>
            </div>
        </div>
                    
           
             








    </section>


  
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" ></script>
    <script defer src="{{ url_for('static', filename='js/app.js') }}"></script>
</body> 
</html>